[submodule "projects/A69VTestApp"]
	path = projects/A69VTestApp
	url = https://github.com/Mouy-leng/A69VTestApp.git
[submodule "projects/ProductionApp"]
	path = projects/ProductionApp
	url = https://github.com/Mouy-leng/ProductionApp.git
